.body{
	
}
p {
	font-family: youyuan,;
	align-content: center;
}
.b_think0{color:darkgreen; font-size:26px}
.b_think1{color:darkgreen; font-size:18px}
.b_think2{color:blueviolet; font-size:26px}
.b_think3{color:blueviolet; font-size:18px}